#activity-console,
#history-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.card {
  height: 4em;
  width: 6.5em;
  background-color: var(--gray);
  border-radius: 5px;
}

.card .label {
  font-size: 0.7em;
  text-align: center;
  background-color: var(--mid-gray);
  color: var(--light-gray);
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
}

.card .body {
  display: grid;
  place-content: center;
  height: 80%;
}

.card .body .tile {
  scale: 0.8;
}

.card .body .corp-icon {
  height: 3em;
  width: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.corp-icon.phoenix {
  background-image: url(/images/phoenix.png);
}

.corp-icon.quantum {
  background-image: url(/images/quantum.png);
}

.corp-icon.hydra {
  background-image: url(/images/hydra.png);
}

.corp-icon.fusion {
  background-image: url(/images/fusion.png);
}

.corp-icon.sackson {
  background-image: url(/images/sackson.png);
}

.corp-icon.america {
  background-image: url(/images/america.png);
}

.corp-icon.zeta {
  background-image: url(/images/zeta.png);
}

.merger {
  display: flex;
  align-items: center;
}

#display-panel {
  display: grid;
  grid-template-columns: auto 1fr;
}

#history-pane {
  width: 0;
  height: 100%;
  background-color: var(--gray);
  border-right: 1px solid #f3f5f6;
  /* box-shadow: 2px 0 10px var(--gray); */
  transition: all 1s ease;
  overflow: hidden;
}

#history-pane.expanded {
  width: 20em;
  padding: 1em;
}

#history-pane.expanded * {
  filter: brightness(99%);
}

#history-pane.expanded .card {
  border: 1px solid var(--gray);
  border: 1px solid white;
}

#history-button {
  position: absolute;
  bottom: 1.2rem;
  left: 20.5rem;
  padding: 0 0.4em;
  font-size: 0.7em;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--mid-gray);
}

.stocks-purchased {
  display: flex;
  gap: 0.1em;
}

.stocks-purchased .stock {
  width: 1.5em;
  height: 1em;
}
