#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16em 1fr 16em;
  grid-template-rows: 2.5em 1fr 2.65em 10em;

  grid-template-areas:
    "game-header game-header game-header"
    "corporation game-board-container account"
    "corporation players account"
    "corporation activity-bar account";
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#corporations,
#portfolio {
  text-align: center;
  padding: 0.5em 1em;
}

#game-header {
  grid-area: game-header;
  display: grid;
  place-content: center;
  background-color: var(--mid-gray);
  font-size: 2em;
  color: var(--light-gray);
  letter-spacing: 2px;
}

#game-title {
  font-size: 0.8em;
}

#corporation-section,
#portfolio-section {
  background-color: #787878;
}

#corporation-section {
  grid-area: corporation;
}

#portfolio-section {
  grid-area: account;
}

#game-board-container {
  display: flex;
  align-items: center;
}

#game-board {
  height: 100%;
  padding: 1em;
  aspect-ratio: 1.3;
  margin: 0.5em auto;
  grid-area: game-board;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5em;
}

.space {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}

#corporation-section > header,
.portfolio-header {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  letter-spacing: 3px;
  color: var(--light-gray);
}

.balance {
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

#portfolio .stocks {
  padding: 0.5em 0em 0.8em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.balance > header,
.stocks > header,
.tiles > header {
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--dark-gray);
  margin-bottom: 0.5em;
}

#balance-container .amount {
  font-size: 2em;
}

#balance-container .amount::before {
  content: "$";
}

#stocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.stock > .quantity {
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  position: relative;
  top: 2.5em;
  left: 4.6em;
}

.tiles {
  background-color: var(--light-gray);
  padding: 0.5em 1em;
  border-radius: 5px;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
}

.tile {
  width: 70px;
  height: 70px;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.corporation {
  display: grid;
  height: 5.5em;
  width: 13.8em;
  background-color: var(--light-gray);
  border-radius: 5px;
  grid-template-rows: 1.3em auto;
}

.corporation .name {
  background-color: var(--gray);
  border-radius: 5px 5px 0 0;
  padding-left: 0.5em;
}

.corporation .info {
  display: grid;
  grid-template-columns: 4.5em auto;
  place-items: center;
}

.corporation .icon {
  display: grid;
  background-color: var(--gray);
  height: 3.5em;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.corporation .details {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
}

.corporation .details > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#corporation-section > header,
#portfolio-section > header {
  display: flex;
  margin: 0.5em;
  height: 1em;
  justify-content: space-around;
}

#corporations:not(.selectable) {
  pointer-events: none;
}

#corporations,
#portfolio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

#corporation-section,
#portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-icon {
  position: absolute;
  left: 11.5em;
}

#info-icon:hover {
  cursor: pointer;
}

#info-card {
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  position: absolute;
  top: 0;
  left: 0;
}

#info-card.hide {
  display: none;
}

#info-close-btn {
  background-color: transparent;
  font-size: 2em;
  position: absolute;
  top: 15%;
  right: 30%;
  color: white;
}

#info-close-btn:hover {
  cursor: pointer;
}

.icon > img {
  width: 100%;
}

.corporation .details .stocks::before {
  content: url("/images/stocks-icon.png");
  padding-top: 0.2em;
}

.corporation .details .size::before {
  content: url("/images/tile-icon.png");
}

.corporation .details .price::before {
  content: url("/images/money-icon.png");
}

.incorporated {
  transition-duration: 0.5s;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.used-tile {
  transition-duration: 0.5s;
  background-color: var(--gray);
}

.tile:hover {
  cursor: pointer;
  user-select: none;
}

#display-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
  background-color: var(--light-gray);
  border-bottom: 0.5em solid #787878;
}

.message-pair-holder {
  display: flex;
  gap: 2em;
}

#display-panel button {
  width: 5em;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  margin: 0 0.5em;

  background-color: var(--mid-gray);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.space.phoenix {
  background-color: var(--phoenix-color);
  color: white;
}

.space.quantum {
  background-color: var(--quantum-color);
  color: white;
}

.space.hydra {
  background-color: var(--hydra-color);
  color: white;
}

.space.zeta {
  background-color: var(--zeta-color);
  color: white;
}

.space.sackson {
  background-color: var(--sackson-color);
  color: white;
}

.space.fusion {
  background-color: var(--fusion-color);
  color: white;
}

.space.america {
  background-color: var(--america-color);
  color: white;
}

.stock::after {
  position: relative;
  bottom: 0.4em;
}

.stock {
  height: 70px;
  aspect-ratio: 1.6;
  border-radius: 5px;
  background-color: var(--gray);
  box-shadow: 0 0 10px var(--dark-gray);
  background-size: contain;
}

.stock.phoenix {
  background-image: url(/images/cards/phoenix.png);
}

.stock.quantum {
  background-image: url(/images/cards/quantum.png);
}

.stock.america {
  background-image: url(/images/cards/america.png);
}

.stock.zeta {
  background-image: url(/images/cards/zeta.png);
}

.stock.hydra {
  background-image: url(/images/cards/hydra.png);
}

.stock.fusion {
  background-image: url(/images/cards/fusion.png);
}

.stock.sackson {
  background-image: url(/images/cards/sackson.png);
}

#corporations.selectable .corporation:not(.non-selectable) {
  cursor: pointer;
  transform: scale(1.04);
  border: 1px solid white;
  transition-duration: 300ms;
  box-shadow: 1px 1px 5px 2px var(--dark-gray);
}

#corporations.selectable .corporation.non-selectable {
  filter: opacity(0.3);
  pointer-events: none;
}

.corporation .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corporation .name {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 550;
  color: var(--dark-gray);
}

.corporation.safe .name::after {
  content: url("/images/safe.png");
  scale: 0.9;
  padding: 2px 3px;
}

.selected-stocks {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding-bottom: 1em;
}

#display-panel:has(.selected-stocks) #activity-console {
  flex-direction: column;
}

.refill-tile-prompt,
.buying-prompt {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buying-prompt > div {
  width: calc(30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable-btn {
  opacity: 0.4;
}

.game-over {
  flex-direction: column;
  gap: 1em;
}

.new-tile {
  filter: opacity(0.5);
  -webkit-animation: blink linear 0.5s infinite;
  animation: blink linear 0.5s infinite;
}

@keyframes blink {
  20% {
    filter: opacity(0.2);
  }

  100% {
    filter: opacity(1);
  }
}

.ranks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.ranks > p {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5em;
}

.flash {
  filter: brightness(1.5);
  animation: blink linear 0.5s forwards;
}

@keyframes blink {
  100% {
    filter: brightness(1);
  }
}

.selected-stocks .stock > p {
  position: relative;
  text-align: center;
  top: 30%;
}

.selected-stocks .stock > div {
  font-size: 0.8em;
  position: relative;
  bottom: 2em;
  left: 5.2em;
  height: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--light-gray);
  background-color: var(--dark-gray);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.low-balance {
  color: rgb(157, 16, 0);
}

#bonus-table {
  gap: 1em;
  padding: 0.5em;
  align-items: flex-start;
}

#bonus-table > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

#bonus-table > div > p {
  font-size: 0.8em;
  width: 5em;
  text-align: center;
  color: var(--light-gray);
  background-color: var(--mid-gray);
  border-radius: 5px;
  overflow: scroll;
}

.blank {
  color: transparent;
}

.deal-defunct-stocks {
  flex-direction: column;
  gap: 0.5em;
}

.deal-options {
  gap: 1em;
}

#activity-console .sell-box .stock-btn {
  margin: 0;
  height: 2em;
  width: 2em;
}

.deal-options .sell-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-deal {
  scale: 0.9;
}

.player-deal .body {
  display: flex !important;
  gap: 0.5em;
  justify-items: center;
  align-items: center;
}

.sell-defunct-box div,
.trade-defunct-box div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sell-defunct-box,
.trade-defunct-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sell-defunct-box .sell-icon {
  height: 1.5em;
  width: 1.5em;
  background-image: url(/images/sell-icon.png);
  background-size: contain;
}

.trade-defunct-box .trade-icon {
  height: 1.3em;
  width: 1.3em;
  background-image: url(/images/trade-icon.jpg);
  background-size: contain;
}

#activity-console {
  overflow-x: scroll;
}
