#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16em 1fr 16em;
  grid-template-rows: 4em 1fr 8em;

  grid-template-areas:
    "game-header game-header game-header"
    "corporation game-board-container account"
    "corporation activity-bar account";
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#corporation,
#account,
#activity-bar {
  text-align: center;
  padding: 0.5em 1em;
}

#game-header {
  grid-area: game-header;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  background-color: var(--mid-gray);
  font-size: 2em;
  color: var(--light-gray);
  letter-spacing: 2px;
}

#corporation-section {
  grid-area: corporation;
  background-color: #787878;
}

#account {
  grid-area: account;
  background-color: #787878;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activity-bar {
  grid-area: activity-bar;
  background-color: var(--light-gray);
}

#game-board-container {
  display: flex;
  align-items: center;
}

#game-board {
  height: 710px;
  width: 950px;
  margin: 0.5em auto;
  grid-area: game-board;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5em;
}

.space {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}

#corporation-section > header,
.account-header {
  /* height: 2em; */
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--light-gray);
}

.balance {
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.balance > header,
.stocks > header,
.tiles > header {
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--dark-gray);
  margin-bottom: 0.5em;
}

.amount {
  font-size: 2em;
}

#stocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: space-evenly;
}

.stock {
  height: 70px;
  width: 112px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--phoenix-color);
}

.stock > .quantity {
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  position: relative;
  top: 2.5em;
  left: 4.6em;
}

.tiles {
  background-color: var(--light-gray);
  padding: 0.5em 1em;
  border-radius: 5px;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.tile {
  width: 70px;
  height: 70px;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.corporation {
  display: grid;
  height: 5.5em;
  width: 13.8em;
  background-color: var(--light-gray);
  border-radius: 5px;
  grid-template-rows: 1.3em auto;
}

.corporation .name {
  background-color: var(--gray);
  border-radius: 5px 5px 0 0;
  padding-left: 0.5em;
}

.corporation .info {
  display: grid;
  grid-template-columns: 4.5em auto;
  place-items: center;
}

.corporation .icon {
  display: grid;
  background-color: var(--gray);
  height: 3.5em;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.corporation .details {
  display: grid;
  justify-self: start;
}

#corporation-section > header {
  margin: 0.5em;
  height: 1em;
}

#corporations {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#corporation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
