#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 18% auto 16%;
  grid-template-rows: 10% auto 18%;

  grid-template-areas:
    "game-header game-header game-header"
    "corporation game-board-container account"
    "corporation activity-bar account";
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#corporation,
#account,
#activity-bar {
  text-align: center;
  padding: 1em;
}

#game-header {
  grid-area: game-header;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  background-color: var(--mid-gray);
  font-size: 2em;
  color: var(--light-gray);
  letter-spacing: 2px;
}

#corporation {
  grid-area: corporation;
  background-color: var(--gray);
}

#account {
  grid-area: account;
  background-color: var(--gray);
}

#activity-bar {
  grid-area: activity-bar;
  background-color: var(--light-gray);
}

#game-board-container {
  display: flex;
  align-items: center;
}

#game-board {
  height: 710px;
  width: 950px;
  margin: 0.5em auto;
  grid-area: game-board;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5em;
}

.space {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}
