#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 18% auto 16%;
  grid-template-rows: 8% auto 17%;

  grid-template-areas:
    "game-header game-header game-header"
    "corporation game-board account"
    "corporation activity-bar account";
  border: 1px solid silver;
}

#game-header,
#corporation,
#account,
#activity-bar {
  text-align: center;
  padding: 1em;
}

#game-header {
  grid-area: game-header;
  background-color: var(--mid-gray);
}

#corporation {
  grid-area: corporation;
  background-color: var(--gray);
}

#account {
  grid-area: account;
  background-color: var(--gray);
}

#activity-bar {
  grid-area: activity-bar;
  background-color: var(--light-gray);
}

#game-board {
  margin: 1em auto;
  grid-area: game-board;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.space {
  width: 3.5em;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}
