#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16em 1fr 16em;
  grid-template-rows: 4em 1fr 10em;

  grid-template-areas:
    "game-header game-header game-header"
    "corporation game-board-container account"
    "corporation activity-bar account";
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#corporation,
#account {
  text-align: center;
  padding: 0.5em 1em;
}

#game-header {
  grid-area: game-header;
  display: flex;
  align-items: center;
  background-color: var(--mid-gray);
  font-size: 2em;
  color: var(--light-gray);
  letter-spacing: 2px;
  justify-content: space-between;
}

#game-title {
  text-align: center;
  width: 320px;
  margin: auto;
}

#username {
  width: 320px;
  text-align: center;
  font-size: 0.5em;
}

#corporation-section {
  grid-area: corporation;
  background-color: #787878;
}

#account {
  grid-area: account;
  background-color: #787878;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activity-bar {
  grid-area: activity-bar;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#game-board-container {
  display: flex;
  align-items: center;
}

#game-board {
  height: 660px;
  width: 900px;
  margin: 0.5em auto;
  grid-area: game-board;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5em;
}

.space {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}

#corporation-section > header,
.account-header {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  letter-spacing: 3px;
  color: var(--light-gray);
}

.balance {
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

#account > .stocks {
  padding: 0.5em 0em 0.8em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.balance > header,
.stocks > header,
.tiles > header {
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--dark-gray);
  margin-bottom: 0.5em;
}

.amount {
  font-size: 2em;
}

#stocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.stock {
  height: 70px;
  width: 112px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--gray);
}

.stock > .quantity {
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  position: relative;
  top: 2.5em;
  left: 4.6em;
}

.tiles {
  background-color: var(--light-gray);
  padding: 0.5em 1em;
  border-radius: 5px;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
}

.tile {
  width: 70px;
  height: 70px;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.corporation {
  display: grid;
  height: 5.5em;
  width: 13.8em;
  background-color: var(--light-gray);
  border-radius: 5px;
  grid-template-rows: 1.3em auto;
}

.corporation .name {
  background-color: var(--gray);
  border-radius: 5px 5px 0 0;
  padding-left: 0.5em;
}

.corporation .info {
  display: grid;
  grid-template-columns: 4.5em auto;
  place-items: center;
}

.corporation .icon {
  display: grid;
  background-color: var(--gray);
  height: 3.5em;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.corporation .details {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
}

.corporation .details > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#corporation-section > header {
  display: flex;
  margin: 0.5em;
  height: 1em;
  justify-content: space-around;
}

#corporations {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#corporation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-icon {
  position: absolute;
  left: 11.5em;
}

#info-icon:hover {
  cursor: pointer;
}

#info-card {
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  position: absolute;
  top: 0;
  left: 0;
}

#info-card.hide {
  display: none;
}

#info-close-btn {
  background-color: transparent;
  font-size: 2em;
  position: absolute;
  top: 15%;
  right: 30%;
  color: white;
}

#info-close-btn:hover {
  cursor: pointer;
}

.icon > img {
  width: 100%;
}

.corporation .details .stocks::before {
  content: url("/images/stocks-icon.png");
}

.corporation .details .size::before {
  content: url("/images/tile-icon.png");
}

.corporation .details .price::before {
  content: url("/images/money-icon.png");
}

.incorporated {
  transition-duration: 0.5s;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.used-tile {
  transition-duration: 0.5s;
  background-color: var(--gray);
}

.tile:hover {
  cursor: pointer;
  user-select: none;
}

#display-panel {
  width: 90%;
  height: 98%;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1em;
  column-gap: 3em;
  font-size: 1.2em;
  background-color: var(--light-gray);
  border-radius: 5px;
}

.message-pair-holder {
  display: flex;
  gap: 2em;
}

#activity-bar button {
  font-size: 0.8em;
  padding: 0.5em;

  background-color: var(--mid-gray);
  color: white;
  border-radius: 5px;

  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

.phoenix {
  background-color: var(--phoenix-color);
  color: white;
}

.quantum {
  background-color: var(--quantum-color);
  color: white;
}

.hydra {
  background-color: var(--hydra-color);
  color: white;
}

.zeta {
  background-color: var(--zeta-color);
  color: white;
}

.sackson {
  background-color: var(--sackson-color);
  color: white;
}

.fusion {
  background-color: var(--fusion-color);
  color: white;
}

.america {
  background-color: var(--america-color);
  color: white;
}

.stock::after {
  position: relative;
  bottom: 0.4em;
}

#phoenix-stock::after {
  content: "Phoenix";
}

#quantum-stock::after {
  content: "Quantum";
}

#hydra-stock::after {
  content: "Hydra";
}

#fusion-stock::after {
  content: "Fusion";
}

#america-stock::after {
  content: "America";
}

#zeta-stock::after {
  content: "Zeta";
}

#sackson-stock::after {
  content: "Sackson";
}

.corporation:not(.non-selectable) {
  cursor: pointer;
  transform: scale(1.04);
  border: 1px solid white;
  transition-duration: 200ms;
  box-shadow: 1px 1px 5px 2px var(--dark-gray);
}

.corporation.non-selectable {
  pointer-events: none;
}

.corporation .name {
  display: flex;
  justify-content: space-between;
}

.corporation.safe .name::after {
  content: url("/images/safe.png");
  padding: 3px;
}

.selected-stocks {
  display: flex;
  gap: 0.5em;
}

#display-panel:has(.selected-stocks) #display-panel {
  flex-direction: column;
}

.refill-tile-prompt,
.buying-prompt {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.buying-prompt > div {
  width: calc(30%);
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable-btn {
  opacity: 0.4;
}
