/* @import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap"); */

:root {
  --light-gray: #d0d0d0;
  --dark-gray: #1e1e1e;
  --mid-gray: #5e5e5e;
  --gray: #aaa7a7;
  --phoenix-color: #724dc5;
  --quantum-color: #4299a0;
  --fusion-color: #47792f;
  --hydra-color: #b85233;
  --america-color: #2f73c2;
  --sackson-color: #b42745;
  --zeta-color: #bc7c11;
  --border-radius: 5px;
  --active-player: #04c900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", system-ui, sans-serif;
  font-size: 20px;
}

input {
  font-size: inherit;
  padding: 0.2em 0.4em;
}

.highlight {
  box-shadow: 0.1em 0.1em 0.4em rgb(253, 234, 234);
}

.hide {
  display: none;
}
