:root {
  --light-gray: #d0d0d0;
  --dark-gray: #1e1e1e;
  --mid-gray: #5e5e5e;
  --light-gray: #d0d0d0;
  --gray: #aaa7a7;
  --phoenix-color: #724dc5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 20px;
}

input {
  font-size: inherit;
  padding: 0.2em 0.4em;
}
